body {
    font-family: Tahoma, sans-serif;
}
.index-h {
    color: gold;
    background-color: black;
    text-align: center;
}

.index-ul {
    text-align: center;
}

.broccoli-h {
    color: white;
    background-color: darkgreen;
}